// ============================================
// Docs / Global
// ============================================

// Header
// ============================================

.docs-logo {
  margin: $spacer_one $spacer_one 0 0;
}

.docs-title {
  font-family: "Avenir", Helvetica, sans-serif;
  font-size: $font_size_lg;
  letter-spacing: 10px;
  @extend .u-case--upper;
  color: $color_text_dark;
  margin: $spacer_four 0 $spacer_half 0;
}
.docs-subtitle {
  font-size: $font_size_md;
  font-weight: 400;
  color: $color_text_light;
  margin: 0 0 $spacer_one 0;
}

// Content
// ============================================

.docs-content-block {
  margin: 0 0 $spacer_four 0;
}

