// ============================================
// Docs / Global
// ============================================

// Header
.docs-title {
  font-family: "Avenir", Helvetica, sans-serif;
  font-size: $font_size_xl;
  letter-spacing: 10px;
  @extend .u-case--upper;
  color: $color_text_dark;
  margin: $spacer_four 0 $spacer_one 0;
}
.docs-subtitle {
  font-size: $font_size_md;
  font-weight: 400;
  color: $color_text_light;
}