// ============================================
// Buttons
// ============================================

// Default HTML Element 
// ============================================

// button  {
//   transition:         all #{$transition_medium};
//   -webkit-transition: all #{$transition_medium};
//   -moz-transition:    all #{$transition_medium};
// }

// Standard
// ============================================

// Placeholder
%button {
  display: inline-block;
  border-radius: $radius;
  padding: 7px 20px;
  margin: 0 5px;
  min-width: 150px;
  text-align: center;
  text-decoration: none;

  // Default Sizing
  font: normal $font_size_md $font_sans;
}

  // Button Types
  
  .#{$namespace}btn-primary {
      @extend %button;
      
      color: $color_white;
      background-color: $color_primary;

      &:hover {
          background-color: $color_primary_tint;
      }
  }

  // Button Sizes 

  .#{$namespace}btn-small {
      font: normal $font_size_sm $font_sans;
  }