// ============================================
// Links
// ============================================

// Default HTML Element 
// ============================================
a {
    transition:         all #{$transition_medium};
    -webkit-transition: all #{$transition_medium};
    -moz-transition:    all #{$transition_medium};
}

.#{$namespace}link {
  text-decoration: none;
  color: $color_text_medium;
  
  &:hover {
    color: $color_text_light;
  }
  &:active {
    color: $color_text_dark;
  }
  &:visited {
    color: $color_text_dark;
  }
}

.#{$namespace}link--primary {
  text-decoration: none;
  color: $color_primary;
  
  &:hover {
    color: $color_primary_tint;
  }
  &:active {
    color: $color_primary_shade;
  }
  &:visited {
    color: $color_primary_shade;
  }
}

.#{$namespace}link--secondary {
  text-decoration: none;
  color: $color_secondary;
  
  &:hover {
    color: $color_secondary_tint;
  }
  &:active {
    color: $color_secondary_shade;
  }
  &:visited {
    color: $color_secondary_shade;
  }
}

.#{$namespace}link--confirm {
  text-decoration: none;
  color: $color_text_medium;
  
  &:hover {
    color: $color_text_light;
  }
  &:active {
    color: $color_text_dark;
  }
  &:visited {
    color: $color_text_dark;
  }
}

.#{$namespace}link--destroy {
  text-decoration: none;
  color: $color_text_medium;
  
  &:hover {
    color: $color_text_light;
  }
  &:active {
    color: $color_text_dark;
  }
  &:visited {
    color: $color_text_dark;
  }
}
