// Links
// -------------------------

// Default HTML Element
a {
    transition:         all #{$transition_medium};
    -webkit-transition: all #{$transition_medium};
    -moz-transition:    all #{$transition_medium};
}