// Colors

$white: #fff;
$black: #000;

// $dark: #232A31;
// $dark_medium: lighten($dark, 10%);
// $dark_light: lighten($dark, 20%);

// $gray_dark: #818A8A;
// $gray_medium: #E8E8E8;
// $gray_light: #F5F5F5;

// $orange: #F87620;

// $red: #d81d1d;
// $yellow: #fabe39;
// $green: #6aa220;

// Layout & Grid

$max_width: 1280px;
$gutter: 40px; // adjusts gutter width for grid
